*{margin: 0;padding: 0;}

#menu {width: 1000px; margin: 0px auto; background-color: #dddddd; height: 35px; z-index: 999;}

#menu ul { z-index: 999;}

#menu ul li{width: 160px;list-style: none inside; float: left; background: #dedede; height: 35px; line-height: 35px; border-right: 1px solid #eee;position: relative;text-align: center;}
#menu ul li a{color: #043e49; display: block; padding: 5px 20px; text-decoration: none; font-family: arial;
font-size: 12px; font-weight: bolder; text-transform:uppercase}
#menu ul ul {display: none; position: absolute;top: 35px; left: 0;}
#menu ul li li{border: 1px solid #eee;}
#menu ul li li a{display: block; width: 120px;}
#menu ul li:hover{background: #f98000;}
#menu ul li:hover ul{display: block;}
#menu ul li:hover ul ul, #menu ul li:hover ul ul ul {display: none;}
#menu ul li li:hover ul, #menu ul li li li:hover ul{display: block;z-index:200}

#menu ul ul ul{left:161px; top: -1px;}
.clear{clear:both;}