<div class="neoslideshow">
  <img src="http://localhost/phpmock/public/images/slider/example-slide-1.jpg" width="500" height="260" />
 <img src="http://localhost/phpmock/public/images/slider/example-slide-2.jpg" width="500" height="260" />
 <img src="http://localhost/phpmock/public/images/slider/example-slide-3.jpg" width="500" height="260" />
 <img src="http://localhost/phpmock/public/images/slider/example-slide-4.jpg" width="500" height="260" />


</div>

<style type="text/css">
	.neoslideshow {position:relative; width:500px; height:260px;}
	.neoslideshow img {position:absolute;left:0; top:0;}

</style>

<script type="text/javascript">
	$(function() {
	    $('.neoslideshow img:gt(0)').hide();
	    setInterval(function(){
	      $('.neoslideshow :first-child').fadeOut()
	         .next('img').fadeIn()
	         .end().appendTo('.neoslideshow');},
	      4000);
	})

</script>
